<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Mi App Django{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <h1>Proyecto de Bonificación Django</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 Mi Proyecto Django</p>
    </footer>

    <script src="{% static 'js/scripts.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>
</html>
